<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroDbRealm" class="cn.cjc.shiro.base.ShiroDbRealm"/>

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="shiroEhcacheManager"/>
    </bean>
    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--loginUrl：登陆页面，用户登陆不成功，自动返回此页面-->
        <!--successUrl：登陆成功后跳转此页面-->
        <!--unauthorizedUrl：用户访问无权限的链接时跳转此页面-->
        <property name="loginUrl" value="/admin/login"/>
        <property name="successUrl" value="/admin/index"/>
        <property name="unauthorizedUrl" value="/admin/logout"/>
        <property name="filterChainDefinitions">
            <value>
                /admin/login = authc
                /admin/logout = logout
                /static/** = anon
                /admin/** = authc
            </value>
        </property>
    </bean>
</beans>